In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('promo_data.csv')
df.head()

   emp_id  age  length_of_service    dept  awards_won  promotion
0       1   22                  2  tester           0          0
1       2   30                  7  tester           1          0
2       3   28                  8  tester           2          0
3       4   23                  3  tester           0          0
4       5   27                  5  tester           2          0

In [3]:
df.columns

Index(['emp_id', 'age', 'length_of_service', 'dept', 'awards_won',
       'promotion'],
      dtype='object')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   emp_id             15 non-null     int64
 1   age                15 non-null     int64
 2   length_of_service  15 non-null     int64
 3   dept               15 non-null     object
 4   awards_won         15 non-null     int64
 5   promotion          15 non-null     int64
dtypes: int64(5), object(1)
memory usage: 848.0+ bytes

In [5]:
from sklearn.model_selection import train_test_split

x = df.drop(['promotion', 'emp_id'], axis=1)  # Features
y = df['promotion']  # Target variable

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=42)

In [6]:
x_train.head()

    age  length_of_service       dept  awards_won
8    23                  2  developer           0
2    28                  8     tester           2
1    30                  7     tester           1
14   55                 23  developer          17
4    27                  5     tester           2

In [7]:
x_train = pd.get_dummies(x_train, columns=['dept'])
x_test = pd.get_dummies(x_test, columns=['dept'])

In [8]:
from sklearn.linear_model import LogisticRegression

model = LogisticRegression()
model.fit(x_train, y_train)

# Now you can make predictions
predictions = model.predict(x_test)

In [9]:
import pickle
pickle.dump(model,open('logistic_model.pkl', 'wb'))