In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('promo_data.csv')
df.head()

   emp_id  age  length_of_service  avg_training_score  awards_won  promotion
0       1   22                  2                  40           0          0
1       2   30                  7                  55           1          0
2       3   28                  8                  33           2          0
3       4   23                  3                  66           0          0
4       5   27                  5                  46           2          0

In [32]:

# # Save to CSV file
# df.to_csv('promo_data.csv', index=False)  # Set index=False to exclude row indices from the CSV

# # print(f"Excel file {excel_file_path} has been converted to CSV file {csv_file_path}.")

In [3]:
df = df.iloc[:,1:]

In [4]:
df.head()

   age  length_of_service  avg_training_score  awards_won  promotion
0   22                  2                  40           0          0
1   30                  7                  55           1          0
2   28                  8                  33           2          0
3   23                  3                  66           0          0
4   27                  5                  46           2          0

In [40]:
df.columns

Index(['age', 'length_of_service', 'dept', 'awards_won', 'promotion'], dtype='object')

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   age                15 non-null     int64
 1   length_of_service  15 non-null     int64
 2   dept               15 non-null     object
 3   awards_won         15 non-null     int64
 4   promotion          15 non-null     int64
dtypes: int64(4), object(1)
memory usage: 728.0+ bytes

In [5]:
from sklearn.model_selection import train_test_split

x = df.drop('promotion', axis=1)  # Features
y = df['promotion']  # Target variable

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=42)

In [ ]:
# One hot encoding : to convert categorical(string object) into numeric

In [48]:
# x_train = pd.get_dummies(x_train, columns=['dept'])
# x_test = pd.get_dummies(x_test, columns=['dept'])

In [6]:
x_train

    age  length_of_service  avg_training_score  awards_won
8    23                  2                  15           0
2    28                  8                  33           2
1    30                  7                  55           1
14   55                 23                  11          17
4    27                  5                  46           2
7    28                  6                  70           1
10   33                 10                  99           7
12   40                 15                  44          11
3    23                  3                  66           0
6    30                  6                  10           2

In [7]:
from sklearn.linear_model import LogisticRegression

model = LogisticRegression()
model.fit(x_train, y_train)

# Now you can make predictions
predictions = model.predict(x_test)

In [8]:
predictions = model.predict([[55,30,10,5],[55,30,10,5]])
predictions

c:\users\91930\appdata\local\programs\python\python39\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

array([1, 1], dtype=int64)

In [64]:
age = float(input())
length_of_service = float(input())
avg_training_score =float(input())
awards_won =  float(input())

 
target= ["not promoted", 'promoted']

result = model.predict([[age, length_of_service, avg_training_score, awards_won]])
print(result)
print(result[0])
print(f"Prediction = {target[result[0]]}" )

44
44
44
44
[1]
1
Prediction = promoted

c:\users\91930\appdata\local\programs\python\python39\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

In [9]:
import pickle
pickle.dump(model,open('logistic_model.pkl', 'wb'))